<!DOCTYPE html>
<html>
  <head>
    <title>Phoenix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
    .container {
      max-width: 500px;
      padding-top: 30px;
      }
      input {
        max-width: 200px;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Finder</h1>
      <br>
      <form role="form" method="post" onsubmit="return false">
          <div class="form-group">
              <input type="text" class="form-control" name="location" placeholder="Enter a location" required>
              <input type="text" class="form-control" name="language" placeholder="Enter a language" required>
          </div>
        <button type="submit" class="btn btn-default">Find me a developer</button>
      </form>
      <br>
      <div id="data"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>